<html>
<head>
  <script type="text/javascript" src="http://firefly01.cs.cornell.edu/mustard/socket.io.js"></script>
  <script type="text/javascript">
  window.onload = function(){
    var socket = io.connect('<%= app.server %>');
    socket.on('connect', function (data) {
      console.log(data);
      socket.emit('helo-client', "hello from client!");
    });
  }
  </script>
</head>

<body>
</body>
</html>
